.st-row {
    border: 1px solid rgba(128, 128, 128, 0.171);
}
.container {
    margin-bottom: 30px;
}

.banner-style {
    background-color: rgb(33, 33, 56);
    color: white;
    height: 300px;
    border-radius: 10px;
    padding-left: 50px;
}
.banner-style h1 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.banner-style p{
    font-weight: 100;
}
.card-design h6 {
    color: blue;
    font-weight: 700;
}
.card-color {
    background-color: gray;
}
.from-style {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.p-style{
    color: black;
    font-weight: bolder;
}

.btn-sty {
    margin-top: 40px;
    margin-bottom: 60px;
}
.footer-sty {
    color: gray;
    /* text-align: center; */
}
.footer-color {
    height: 150px;
    background-color: rgba(128, 128, 128, 0.164);
    text-align: center;
}

/* about */
.about {
    height: 200px;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;
}
.about h3 {
    font-style: italic;
}
.about1 h3 {
    margin-top: 100px;
    font-style: italic;
}
.Elsewhere h3 {
    font-style: italic;
}